@import '../../common/common.scss';

:host {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  user-select: none;

  .menu-trigger {
    background: transparent;
    pointer-events: none;
    z-index: -100;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  div {
    user-select: none !important;
  }

  .main-container {
    width: 100%;
    height: 100%;
    display: block;

    lib-live-table {
      overflow: hidden;

      ::ng-deep .mat-drawer-container {
        max-width: unset;
      }

      ::ng-deep .sidenav-content {
        cursor: default;
        opacity: 1;
        background-color: #222;
      }
    }
    ::ng-deep .mat-drawer-container {
      margin: 0;
      max-width: unset;
    }
    ::ng-deep .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

::ng-deep .operator-menu {
  ::ng-deep .mat-mdc-menu-item {
    font-size: 12px;
    min-height: 32px;
  }
}

::ng-deep .table-view-drop-menu {
  width: 140px !important;
  max-width: unset !important;
  min-height: 60px;

  ::ng-deep .mat-mdc-menu-content:not(:empty) {
    padding: 10px;
  }

  .item {
    display: grid;
    grid-template-columns: 16px auto;
    column-gap: 10px;
    box-sizing: border-box;
    color: $text-content;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 2px 5px;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }

    span {
      font-size: 12px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}


.menu-trigger {
  background: transparent;
  pointer-events: none;
  z-index: -100;
  position: absolute;
  width: 1px;
  height: 1px;
}
