<div class="main-container">
  <div class="login-container">
    <img [src]="appInfo.applicationLogo || 'assets/icon/towify-logo.svg'" alt="logo" />
    <span>{{ appInfo.applicationTitle }} {{ 'CMS' | translate }}</span>
    <div class="iframe-container">
      <ng-container *ngIf="!loginStateIcon">
        <iframe
          [frameUrl]="qrCodeURL"
          *ngIf="qrCodeURL"
          sandbox="allow-scripts allow-same-origin"
        ></iframe>
        <towify-loading [theme]="'white'" [type]="'medium'" *ngIf="!qrCodeURL"></towify-loading>
      </ng-container>
      <img [src]="loginStateIcon" alt="" *ngIf="loginStateIcon" />
    </div>
    <span>{{ message }}</span>
    <button class="btn refresh-qrcode-btn" (click)="signUpWithWeChat()">{{
      'Refresh QR Code' | translate
    }}</button>
  </div>
</div>
