@import 'common/common.scss';

:host {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: $headerHeight auto;
  overflow: hidden;

  .main-container {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #222222;
  }
}
