$title: #222222;
$primary: #1371ff;
$light-blue: #e4f3ff;
$mobileWidth: 640px;
$placeholder-color: rgba(0, 0, 0, 0.3);
$headerHeight: 64px;
$cmsTopPadding: 120px;
$mainFont: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
$radius: 5px;
$mainGray: rgb(245, 245, 245);

$primary-dark: #1f1f1f;
$secondary-dark: #222222;
$third-dark: #313131;
$gray-dark: #262626;
$text-content: #ccc;
$text-content-dark: #999;
$secondary-spectrum: #ee3e36;

// Brand
$wechat-brand-color: #02c17e;
